
<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="webjars/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="webjars/font-awesome/5.12.0/css/all.css" />
    <link rel="stylesheet" href="../css/styleForm.css">
    <link rel="stylesheet" href="../css/mainPage.css">
    <title>Word reminder</title>
</head>
<body>
<footer th:fragment="footer" class="font-small page-footer fixed-bottom">
        <div class="text-center">
            © 2019-2020 Copyright Word Reminder
        </div>
</footer>
</body>
</html>