
<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="header">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="webjars/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="webjars/font-awesome/5.12.0/css/all.css" />
    <link rel="stylesheet" href="../css/styleForm.css">
    <link rel="stylesheet" href="../css/mainPage.css">
    <link rel="stylesheet" href="../css/simple-sidebar.css">
    <link rel="stylesheet" href="../css/learnPage.css">
    <title th:include=":: #pageTitle">Word reminder</title>
</head>
<body>
    <nav th:fragment="menuTop" class="navbar navbar-dark bg-dark navbar-expand-md sticky-top">
        <div class="container-fluid">
            <button class="btn btn-dark bg-dark" id="menu-toggle">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">
                <i class="fa fa-user-graduate"></i>
                <span class="d-none d-lg-inline">Word Reminder</span>
            </a>
            <div class="order-md-2">
                <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
                    <li sec:authorize="isAuthenticated()"  class="nav-item order-2 order-md-1">
                        <form  name="logoutForm" th:action="@{/logout}" method="post">
                            <button type="submit" class="nav-link btn btn-link px-0 py-0 ">
                                <span class="d-none d-lg-inline">Wyloguj się</span>
                                <i class="fa fa-sign-out-alt fa-fw fa-lg"></i>
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="d-flex " id="wrapper">
        <div th:fragment="menuSider" class="bg-light" id="sidebar-wrapper">
            <div class="list-group list-group-flush ">
                <a href="#" class="list-group-item list-group-item-action bg-sider">Dodaj słowo</a>
                <a href="#" class="list-group-item list-group-item-action bg-sider">Wykonaj test</a>
                <a href="#" class="list-group-item list-group-item-action bg-sider">Lista słów</a>
            </div>
        </div>
        <div id="page-content-wrapper">
            <div layout:fragment="content" class="container-fluid">
            </div>
        </div>

    </div>
<div th:fragment="scriptSection">
    <script src="webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="../js/menuScripts.js"></script>
</div>
</body>
</html>