<!DOCTYPE html >
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/subpageheader}">
<head th:include="fragments/subpageheader :: header">
    <title id="pageTitle">Lista słów</title>

</head>
<body>
<div th:insert="fragments/subpageheader :: menuTop">
</div>
<div th:insert="fragments/subpageheader :: menuSider">
</div>

<div layout:fragment="content">
    <div class="container d-flex justify-content-center my-5">
    <table class="table table-striped w-auto">
        <thead>
            <tr class="bg-info">
                <th>
                    Angielskie słowo
                </th>
                <th>
                    Tłumaczenie
                </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="word: ${words}" class="table-info ">
                <th scope="row" th:text="${word.englishName}"></th>
                <th th:text="${word.polishName}"></th>
            </tr>
        </tbody>
    </table>
    </div>
</div>
</body>
</html>