<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header">
    <title id="pageTitle">Strona główna</title>
</head>
<body>
    <div th:insert="fragments/header :: menu">
    </div>
    <div id="main" class="wrapper page-header contentContainer my-auto">
        <div class="container content-center">
            <div class="tittle-brand my-auto text-break">
                <h1 class="tittle-text">Word Reminder</h1>
            </div>
            <h2 class="text-center mt-3">Stwórz swój własny zestaw słów, których chcesz się z nami uczyć!</h2>
        </div>
    </div>
    <div id="aboutMe" class= "wrapper section-about-me">
            <h2 class="text-center text-center text-uppercase text-white about-me-header my-5">O mnie</h2>
            <div class="row about-me-text text-justify">
                <div class="col-lg-4 ml-auto text-white">
                    <p class="text-center">Witam!</p>
                    Skoro tutaj trafiłeś, to znaczy że chcesz się czegoś o mnie dowiedzieć. Mam na imię Jakub i
                    jestem studentem Informatyki Stosowanej na Uniwersytecie Mikołaja Kopernika w Toruniu.
                    Swoją przygodę z Javą zacząłęm w przerwę wakacyjną w 2019 roku.
                </div>
                <div class="col-lg-4 mr-auto text-white">
                    Po kilku miesiącach nauki rozpocząłem naukę Springa, Spring Boota oraz
                    Spring Security. Projekt, który masz przyjemność oglądać jest moim pierwszym projektem Webowym wykonanym samodzielnie. Jego założeniem jest
                    uczenie się nowych słówek, które pierwszy raz miałeś styczność, ale również przypominania słownictwa, którym sam zarządzasz.
                    <p>Serdecznie zapraszam!</p>
                </div>
            </div>

        </div>
    <div id="contact" class="wrapper section-contact">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto mt-5">
                <div class="card card-signin my-5 card-body">
                    <h5 class="card-title text-center">Wyślij wiadomość</h5>
                    <form class="form-signin">
                        <div class="form-label-group">
                            <input type="text" id="userLogin" class="form-control" placeholder="Login" required autofocus>
                            <label for="userLogin">Login</label>
                        </div>
                        <div class="form-label-group">
                            <input type="email" id="password" class="form-control" placeholder="Email" required>
                            <label for="password">Email</label>
                        </div>

                        <div class="form-label-group">
                            <label for="message"></label>
                            <textarea id="message" name="message" class="form-control text-area-contact" placeholder="Wpisz wiadomość..." required></textarea>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Wyślij wiadomość</button>
                        <hr class="my-4">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="fragments/header :: scriptSection">
    </div>
    <div th:insert="fragments/footer :: footer">
    </div>
</body>
</html>