<!DOCTYPE html >
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/subpageheader}">
<head th:include="fragments/subpageheader :: header">
    <title id="pageTitle">Podsumowanie Quizu</title>

</head>
<body>
<main>
<div th:insert="fragments/subpageheader :: menuTop">
</div>
<div th:insert="fragments/subpageheader :: menuSider">
</div>

<div layout:fragment="content">
    <div class="container d-flex justify-content-center my-5">
        <table class="table table-striped w-auto float-left">
            <thead>
            <tr class="bg-info">
                <th>
                    Angielskie słowo
                </th>
                <th>
                    Poprawna odpowiedź
                </th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <table class="table table-striped w-auto float-left">
            <thead>
            <tr class="bg-info">
                <th>
                    Twoja odpowiedź
                </th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

</main>
</body>
</html>